@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(40,42,54);
    font-size: 14px;
    -webkit-font-smoothing: antialised
}